/* 모바일 청첩장 ccs */
/* --------------------------------------------------(메인/사진 부분)1행 */
/* 첫 번째 메인 섹션 */
.first {
    background: url(../image/main_bg.jpg); background-size: cover; background-position: center;
    width: 100%; min-height: 100vh;
    display: flex; flex-flow: column nowrap; align-items: center;
    justify-content: center; padding: 50px; gap: 10px;
}

/* 메인 상단 영역 */
.first .top {
    background: rgba(255,255,255,0.2); backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px); border-radius: 20px; width: 100%; max-width: 380px;
    height: auto; min-height: 500px; padding: 20px 0 20px 0; display: flex; flex-flow: column nowrap;
    justify-content: space-between; align-items: center;
}
.first .top * {color: #fff;} /* 안에 들어가는 색 모두 흰색 */

/* 상단 장소, 날짜, 시간 정보 */
.first .information {
    display: flex; justify-content: center; flex-flow: row nowrap;
    width: 100%; align-items: center; gap: 10px;
}
.first .information * {letter-spacing: -1.0px; font-size: 10px; white-space: nowrap;}
.first .information .place {}
.first .information .date {}
.first .information .time {}

/* 이름 및 하트/명언 영역 */
.first .name_heart {
    display: flex; flex-flow: column; justify-content: center; align-items: center;
    gap: 50px;
}

/* 이름 영역 */
.first .name {
    
}
.first .name .marry_info {
    font-size:  8px; padding: 2px 5px; border: 0.5px solid #fff;
    border-radius: 20px; display: inline-block; margin-bottom: 10px;
}
.first .name p span {font-weight: 800; font-size: 8px; }
.first .name .g_b {display: flex; gap: 10px;}
.first .name .groom_name {
    display: flex; flex-flow: column; align-items: center; gap: 10px;
}
.first .name .groom_name .groom {font-size: 20px;}
.first .name .groom_name .g_name {font-size: 36px; font-weight: 700;}
.first .name .bride_name {
    display: flex; flex-flow: column; align-items: center; gap: 10px;
}
.first .name .bride_name .bride {font-size: 20px;}
.first .name .bride_name .b_name {font-size: 36px; font-weight: 700;}

/* 하트 및 명언 영역 */
.first .heart {
    display: flex; flex-flow: row nowrap;
    width: 100%; gap: 10px; justify-content: center;align-items: center;
}
.first .heart .heart_five {
    display: flex; gap: 0;
}
.first .heart .famous_saying {
    font-size: 8px; border-left: 1px solid #fff; padding: 0 10px;
    line-height: 12px;
}
.first .heart .famous_saying span {font-size: 8px; font-weight: 700;}
/* 상단 하단 아이콘/단어 영역 */
.first .word { 
    display: flex; justify-content: space-between; flex-flow: row nowrap;
    width: 100%; align-items: center; padding: 0px 50px;
}
.first .word * {letter-spacing: -1.0px; font-size: 10px;}
.first .word .love {
    
}
.first .word .together {
    
}
.first .word .forever {
    
}

/* 하단 버튼 부분 */
.first .bottom {
    background: rgba(255,255,255,0.2); backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px); border-radius: 20px; width: 100%; max-width: 380px;
    height: 62px; padding: 20px 0 20px 0; display: flex; flex-flow: row;
    justify-content: center; align-items: center; padding: 20px 0; gap: 10px;
}
.first .bottom * {color: #fff; font-size: 11px;}
.first .bottom .groom_letter {
    border-radius: 20px; border: 1px solid #fff;
    padding: 5px 10px;
}
.first .bottom .flower {
    width: 20px;
}
.first .bottom .bride_letter {
    border-radius: 20px; border: 1px solid #fff;
    padding: 5px 10px;
}/* ----------------------------------------------------------------- */
/* 편지 모달 */
.letter_modal {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100vh;

    background: rgba(0, 0, 0, 0.7);

    display: none;
    justify-content: center;
    align-items: center;

    padding: 40px 20px;
    z-index: 9999;
}

/* 편지 */
.letter_content {
    position: relative;
    width: auto;
    height: auto;
    max-width: 90%;
    max-height: 80vh;
}

/* 편지 이미지 */
.letter_content img {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 80vh;
    object-fit: contain;
}

/* 닫기 버튼 */
.letter_close {
    position: absolute;
    top: 10px;
    right: 10px;

    width: 32px;
    height: 32px;

    border-radius: 50%;
    background: rgba(0, 0, 0, 0.5);

    color: #fff;
    font-size: 24px;
    line-height: 32px;
    text-align: center;

    z-index: 10000;
}

/* ----------------------------------------2열 */
/* 4. 프로필 버튼 영역 (신랑소개 / 신부소개 / 하트) */
.insta_profile .status_bar {
    display: flex; flex-flow: row nowrap;
    padding: 20px 40px; justify-content: space-between;
}
.insta_profile .status_bar .time_area span {font-size: 15px; font-weight: 700;}
.insta_profile .profile_info_area {/* 프로필 + 이름부분 */
    display: flex; align-items: center;
    padding: 30px 0 0 10px; gap: 20px;
} 
.insta_profile .profile_info_area .profile_img_box {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background: linear-gradient(45deg, #f09433, #e6683c, #dc2743, #cc2366, #bc1888);
    padding: 3.5px;
    box-sizing: border-box;
}

.insta_profile .profile_info_area .profile_img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px solid #fff;
    box-sizing: border-box;

    background: url('../image/instabtn.jpg');
    background-size: 200%; /* 확대 */
    background-position: center  60%; /* 위치 조정 */
    background-repeat: no-repeat; 
}
.insta_profile .profile_info_area .profile_stats .name_item {
    font-size: 15px; margin-bottom: 10px;
}
.insta_profile .profile_info_area .profile_stats .bottom {
    font-size: 15px;
    display: flex; flex-flow: row; gap: 20px;
}
.insta_profile .profile_info_area .profile_stats .bottom .stat_item {
    display: flex; flex-flow: column; justify-content: center; align-items: center;
    gap: 2px;
}
.insta_profile .profile_info_area .profile_stats .bottom .stat_item .num {font-weight: 700;}
.insta_profile .status_bar .status_icons {display: flex; gap: 5px;}
.insta_profile .profile_header {
    display: flex; justify-content: space-between; align-items: center;
    padding: 20px;
}
.insta_profile .profile_bio {padding: 10px 20px;}
.insta_profile .profile_bio p {font-size: 15px;}
.insta_profile .profile_buttons {
    display: flex; padding: 0 20px; gap: 5px; height: 30px;
}
.insta_profile .profile_header h1 {font-size: 20px; font-weight: 700;}
/* 신랑소개, 신부소개 버튼 */
.btn_groom, .btn_bride {
    flex: 1; /* 두 버튼이 남은 공간을 반반씩 공평하게 차지 */
    height: 32px;
    border-radius: 6px;
    font-size: 13px;
    font-weight: 00;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn_groom { background: #385e33; color: #fff; } /* 초록색 */
.btn_bride { background: #f4c430; color: #fff; } /* 노란색 */

/* 맨 오른쪽 하트 버튼 상자 스타일 */
.profile_buttons .btn_heart, 
.profile_buttons p {
    width: 32px;
    height: 32px;
    flex: 0 0 32px; /* 찌그러지지 않고 정사각형 유지 */
    background: #efefef;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-size: 0.9rem;
    cursor: pointer;
}
/* 5행------------------------------------------------- */
.highlight_story {
    display: flex;
    align-items: flex-start;
    gap: 18px;
    margin-top: 25px;
    padding: 0 10px;

    overflow-x: auto;
    overflow-y: hidden;
    flex-wrap: nowrap;
    width: 100%;
    box-sizing: border-box; scrollbar-width: none;
}

.story_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px; flex-shrink: 0;
}

/* 바깥쪽 회색 테두리 */
.story_thumb {
    width: 72px;
    height: 72px;
    padding: 3px;
    border: 1px solid #d8d8d8;
    border-radius: 50%;
    background: #fff;
    box-sizing: border-box;
}

/* 안쪽 흰색 테두리 + 사진 */
.story_img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid #fff;
    box-sizing: border-box;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* 사진 */
.story_2026 .story_img {
    background-image: url("../image/2026photo.jpg");
}

.story_2025 .story_img {
    background-image: url("../image/2025photo.jpg");
}

.story_2024 .story_img {
    background-image: url("../image/2024photo.JPG");
}

.story_2023 .story_img {
    background-image: url("../image/2023photo.jpg");
}

/* New */
.story_new {
    display: flex;
    align-items: center;
    justify-content: center;
}

.story_new span {
    font-size: 27px;
    font-weight: 300;
    color: #777;
}

/* 이름 */
.story_name {
    font-size: 12px;
    color: #333;
    white-space: nowrap;
}
.highlight_story::-webkit-scrollbar {
    display: none;
}
.insta_profile {
    width: 100%;
    overflow-x: hidden;
}